@model IEnumerable<RelationTest.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddProduct">Create New</a>
</p>
<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var product in Model) {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Description
            </td>
            <td>
                @product.Category.Name
            </td>
            <td>
               <a asp-action="EditProductView" asp-route-id="@product.Id">Edit</a> |
                 @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="DeleteProduct" asp-route-id="@product.Id" onclick="return confirm('確定刪除 @product.Name ?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
